*{
	color: brown;
	font-family: Arial;
	font-size: 19px;
}

@font-face {
  font-family: myFirstFont;
  src: url(MTCORSVA.ttf);
}

h1,h4 {
  color: red;
  text-align: center;
  font-family: myFirstFont;
}

h1{
  font-size: 32px;
}
h4{
  font-size: 16px;
}
body{
  background-color: yellow;		
}
.food_list{
	text-decoration: underline;
	font-weight: bold;
	text-align: left;
}

hr{
	border-top: 6px solid green;
	width: 70%;
	text-align: center;
}

